{% load static %}
<header class="site-header">
    <div class="header-inner">
        
        <a href="/" class="brand">
            <img src="{% static 'home/logo.png' %}" alt="Potential Logo" class="brand-logo">
            <div class="brand-text">
                <span class="brand-name">potential</span>
                <span class="brand-tagline">IT & DIGITAL COURSES</span>
            </div>
        </a>
        
        <nav class="site-nav">
            <a href="#about">О нас</a>
            <a href="#news">Новости</a>
            <a href="#faq">FAQ</a>
            <a href="#apply" class="nav-api">Оставить заявку</a>
            
            <a href="javascript:void(0);" id="open-login-btn" style="margin-left: 0.5rem; font-weight: 600;">Войти</a>
        </nav>
        
    </div>
</header>